<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/search.css">
    <link rel="stylesheet" href="/public/artist.css">
    <title>Spotify Jo</title>
</head>
<body>
    <header class="container">
        <ul>
            <img src="../../public/Spotify_Logo_CMYK_Green.png">
        </ul>
        <div>
            <%- include('../partials/search.ejs') %>
        </div>
        <div>
            <%- include('../partials/logout.ejs') %>
        </div>
    </header>
    <main>
        <div class="container">
            <h2 id="artist-name"><%- artistName %> </h2>
            <section id="artist-img-section" class="container-2">
                <div id="monthly-listeners-div">
                    <h2>10,000,000</h2>
                    <h3 id="monthly-listeners">Monthly Listeners</h3>
                </div>
                <img src="<%- img %> " class="artist-img" alt="artist">
                <div id="followers-div">
                    <h2>1,000,000</h2>
                    <h3 id="followers">Followers</h3>
                </div>
            </section>
            <p class="bio"><%- biography  %> </p>
        </div>
    </main>
    <footer></footer>
</body>
</html>